################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQ_Profiller/bin
/RabbitMQ_Profiller/obj
/.vs
